/*♡*/
@font-face {
    font-family: Outfit;
    src: url(Outfit/Outfit-VariableFont_wght.ttf);
}

body{
    background-color:hsl(212, 45%, 89%);
}

/*IDs*/
#content{
    padding: auto;
    width: auto;
    height: 1440px;
    position: relative;
}

#box{
    width: 20%;
    height: 60%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    position: fixed;
    left: 600px;
    top: 200px;
    float: none;
}

#figure{
    float:none;
    width:85%;
    border-radius: 10px;
    padding: 5px;
    margin: 5%;
}


/* classes */
.attribution 
{   font-size: 11px; 
    font-family: Outfit;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/*.clear{
    clear:both;
}*/